@use "../../abstract/variables" as vars;
@use "../../abstract/mixins" as respond;

.skills {
  &__heading {
    grid-column: 1/-1;
  }

  &__dev-wrapp {
    margin-bottom: 6.2rem;

    @include respond.respond(tab-land) {
      margin-bottom: 0;
    }
  }

  &__dev {
    position: relative;
    font-size: 2.2rem;
    grid-template-columns: 1fr 1fr;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    span {
      font-size: inherit;
      font-weight: 600;
    }
  }

  &__name {
    justify-self: start;
  }

  &__level {
    justify-self: end;
  }

  &__progress {
    grid-column: 1 / -1;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 6px;
      background-color: rgba(vars.$color-silver, 0.3);
    }
  }

  &__progress--html {
    width: 85%;
    height: 6px;
    background-color: rgba(vars.$color-silver, 0.8);
  }

  &__progress--css {
    width: 80%;
    height: 6px;
    background-color: rgba(vars.$color-silver, 0.8);
  }

  &__progress--js {
    width: 65%;
    height: 6px;
    background-color: rgba(vars.$color-silver, 0.8);
  }

  &__lng-wrapp {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    column-gap: 1rem;
    align-items: center;

    @include respond.respond(big-desktop) {
      column-gap: 2rem;
    }

    > :first-child {
      justify-self: start;
    }

    > :not(:first-child):not(:last-child) {
      justify-self: center;
    }

    > :last-child {
      justify-self: end;
    }
  }

  &__lng {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: inherit;
      font-weight: 600;
      z-index: 10;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 125px;
      background-color: vars.$color-white;
      border-radius: 50%;
    }

    position: relative;
    font-size: 2rem;

    &--ser {
      background: conic-gradient(
        rgba(vars.$color-silver, 0.8) 0deg 324deg,
        rgba(vars.$color-silver, 0.3) 324deg 360deg
      );
    }

    &--eng {
      background: conic-gradient(
        rgba(vars.$color-silver, 0.8) 0deg 216deg,
        rgba(vars.$color-silver, 0.3) 216deg 360deg
      );
    }
  }

  &__level--lng {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__name--lng {
    position: absolute;

    left: 50%;
    bottom: 0;
    transform: translate(-50%, calc(50% + 2rem));
  }
}
