@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf")
    format("ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: "Poppins";
//   src: url("/assets/fonts/poppins/Poppins-Italic.ttf") format("truetype");
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}
