// MEDIA QUERIES

@mixin respond($breakpoint) {
  //475px
  // @if $breakpoint == small-phone {
  //   @media only screen and (max-width: 29.69em) {
  //     @content;
  //   }
  // }

  // >475px
  @if $breakpoint == phone {
    @media only screen and (min-width: 29.68em) {
      @content;
    }
  }

  // >768px
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 48em) {
      @content;
    }
  }

  // >1040px
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 65em) {
      @content;
    }
  }
  // >1600px
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 100em) {
      @content;
    }
  }
}
