// COLORS
$color-white: #fff;
$color-black: #000;
$color-silver: #767676;
$color-blue: #0d85c3;
$color-blue-light: rgba(44, 192, 229, 0.603);
$color-pink: rgb(159, 236, 232);
$color-pink-light: rgba(162, 116, 236, 0.644);
$color-green: #25c582c9;
$color-green-light: rgba(37, 197, 72, 0.452);
$color-yellow: rgb(205, 216, 53);
$color-yellow-light: rgba(214, 203, 40, 0.259);
$color-error: #f11010;
$color-success: #3ddd80;
$bg-silver: #e5e5e5;

//SPACING
$space-big: 9.6rem;
$space-medium: 6.2rem;
$space-small: 3.6rem;
