@use "../abstract/variables" as vars;

.btn {
  // border-image: linear-gradient(to right, blue, red) 1 !important;
  &--black {
    background-color: vars.$color-black;
    color: vars.$color-white;
    border: 2px solid vars.$color-black;

    &:hover {
      background-color: vars.$color-white;
      color: vars.$color-black;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &,
  &:link,
  &:visited {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    padding: 2.4rem 8rem;
    text-decoration: none;
    transition: all 0.2s;
  }
}
