@use "../abstract/variables" as vars;
@use "../abstract/mixins" as respond;

.contact {
  column-gap: 4rem;

  &__heading {
    grid-column: 1/-1;
  }

  .form {
    grid-column: 1 / -1;

    @include respond.respond(tab-land) {
      grid-column: 1 / span 1;
    }

    &__group {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__label {
      display: none;
    }

    // FORM
    &__input {
      font-size: 1.8rem;
      width: 100%;
      height: 6rem;
      font-family: "Poppins", sans-serif;
      padding: 1.2rem 2rem;
      transition: all 0.5s;

      border: 1px solid rgba(vars.$color-silver, 0.3);

      &:focus {
        outline: none;
      }

      &.valid {
        border: 1px solid vars.$color-success;
      }

      &.invalid {
        border: 1px solid vars.$color-error;
      }
    }

    textarea {
      font-size: 1.8rem;
      font-family: "Poppins", sans-serif;
      width: 100%;
      height: 200px;
      padding: 1.2rem 2rem;
      border: 1px solid rgba(vars.$color-silver, 0.3);
      transition: all 0.5s;

      &.valid {
        border: 1px solid vars.$color-success;
      }

      &.invalid {
        border: 1px solid vars.$color-error;
      }

      &:focus {
        outline: none;
      }
    }

    &__submit {
      cursor: pointer;
      margin-bottom: 4rem;

      @include respond.respond(tab-land) {
        margin-bottom: 0;
      }
    }
  }

  #map {
    grid-column: 1 / -1;
    margin-top: 4rem;
    width: 100%;
    height: 50rem;
    font-size: 1.6rem;

    @include respond.respond(tab-land) {
      grid-column: 2 / span 1;
      height: 100%;
      margin-top: 0;
    }
  }
}

.leaflet-control-attribution,
.leaflet-control {
  display: none;
}
