
@use "../abstract/variables" as vars;
@use "../abstract/mixins" as respond;

.portfolio {
  @include respond.respond(tab-port) {
    padding: 8.6rem 0;
     //portfolio
  }

  @include respond.respond(tab-land) {
    padding: 16rem 0;
  }

  &__heading {
    grid-column: 2 / -1;
    grid-row: 1 / span 1;

    @include respond.respond(tab-port) {
      grid-column: 2 / span 2;
    }

    h1 {
      color: transparent;
    }
  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover .portfolio__image {
      transform: scale(1.1);
    }

    @include respond.respond(big-desktop) {
      &:hover .portfolio__technologies {
        opacity: 1;
        transform: scale(1);
      }

      &:before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 150%;
        height: 150%;
        transform: skewX(60deg);
        transition: all 0.5 ease;
      }

      &:before {
        left: 300%;
        background-color: rgba(vars.$color-white, 0.3);
        transition: all 0.5 ease;
      }

      &::after {
        left: 300%;
        background-color: rgba(vars.$color-white, 0.3);
        transition: all 0.5s ease;
      }

      &:hover::after {
        left: -200%;
      }

      &:hover::before {
        left: -200%;
      }
    }
  }

  &__projects {
    grid-column: 2 / span 1;
    font-family: "Poppins", sans-serif;

    @include respond.respond(tab-port) {
      grid-column: 2 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem 6rem;
    }

     @include respond.respond(tab-port) {
      grid-column: 2 / span 3;
    }

    @include respond.respond(big-desktop) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column: 2 / span 2;
    }
  }

 &__project {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 8rem;

      @include respond.respond(tab-port) {
        margin: 0;
      }
    }
  }

  &__bgr {
    grid-template-rows: repeat(6, 1fr);

    background-image: linear-gradient(
      to left,
      vars.$color-blue,
      vars.$color-blue-light
    );
    background-size: cover;
    background-repeat: no-repeat;

    @include respond.respond(big-desktop) {
      grid-template-rows: repeat(6, 1fr);
    }
  }

  &__technologies {
    font-size: 14px;
    color: rgba(vars.$color-black, 1);
    grid-column: 2 / span 1;
    margin-left: auto;
    align-self: center;

    transition: all 0.3s 0.1s;
    text-shadow: 1px 1px 1px vars.$color-white;

    @include respond.respond(big-desktop) {
      opacity: 0;
      transform: scale(0);
    }
  }

  &__image {
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;

    transition: all 0.5s;

    @include respond.respond(big-desktop) {
      grid-row: 4 / span 1;
    }
  }

  &__title {
    grid-column: 1 / span 2;

    display: flex;
    gap: 0.8rem;
    // justify-content: flex-end;

    padding: 12px 24px;
    margin-top: 1.2rem;
    background-image: linear-gradient(
      to left,
      rgba(vars.$color-white, 0.3),
      50%,
      rgba(vars.$color-white, 1)
    );
  }

  &__seal {
    grid-column: 1 / span 2;
    grid-row: 8 / span 1;
    align-self: end;
    justify-self: end;
    opacity: 0.4;
    margin: 0 1.2rem 1.2rem 0;

    @include respond.respond(tab-port) {
      grid-row: 6 / span 1;
    }

    @include respond.respond(big-desktop) {
      grid-row: 6 / span 1;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
}








